form(action=`${prefix}/login` method='post')
  input(type='hidden' name='_csrf' value=`${csrfToken}`)
  div
    label Username:
    input(type='text' name='username')
  div
    label Password:
    input(type='password' name='password')
  div
    input(type='submit' value='Log In')


