<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Restricted area</title>

</head>
<body>
  <div>
    <h1>Restricted area</h1>
    {% if user.is_authenticated %}
      <p>Already logged in as {{ user.username }}</p>
      <a href="/{{ root }}/man/index.html">Proceed to restricted area</a>
      &nbsp; or &nbsp;
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>
    {% endif %}
  </div>
</body>
</html>
