<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Localsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/music.ico">
</head>

<body>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center"><a href="file://<%= homedir %>/usr/share/Node/localsite/views/index.ejs">THIS</a></h5>
              <p class="center">source of this template</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">library_music</i></h2>
              <h5 class="center"><a href="/music">music</a></h5>
              <p class="center">my collection of YouTube music links</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">calendar_today</i></h2>
              <h5 class="center"><a href="/calendar">calendar</a></h5>
              <p class="center">my SVG calendar</p>
            </div>
          </div>
  
        </div>
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center"><a href="https://materializecss.com/about.html">materialize</a></h5>
              <p class="center">reference page of Materialize CSS</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  
    <!--  Scripts
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../dist/js/materialize.js"></script>
    <script src="js/init.js"></script>
    -->
  
    </body>

</html>