<div class="col s12 m4">
<div class="card green darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= b['title'] %></span>
      <% if (b['comment']) { %> <p> <%= b['comment'] %> </p> <% } %>
    </div>
    <div class="card-action">
      <a href="<%= b['url'] %>">VISIT</a>
    </div>
</div>
</div>