@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet'
	      href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel='stylesheet'
	      href='@routes.Assets.at("lib/bootstrap/css/bootstrap-theme.min.css")'>
    <style>
    body {
        margin-top: 50px;
    }
    </style>
</head>
<body>
    <h2>@title</h2>
    <div class="container">
        @content
    </div>
</body>
</html>
