@(weeks: List[List[MyDay]])
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
@Html(Application.markdown)

<table>
    <tr>
        <td class="weekDayName">Monday</td>
        <td class="weekDayName">Tuesday</td>
        <td class="weekDayName">Wednesday</td>
        <td class="weekDayName">Thursday</td>
        <td class="weekDayName">Friday</td>
        <td class="weekDayName">Saturday</td>
        <td class="weekDayName">Sunday</td>
    </tr>
    @weeks.map { week =>
      <tr> @week.map { day =>
          <td class="calendarCell">
              <table class="dayTable">
                  <tr>
                      <td class="@day.style">
                         @day.dayTitle
                      </td>
                      <td class="summariesListCell">
                         <ul class="summaries">
                             @day.summaries.map { s =>
                             <li class="summary"> @s </li> }
                         </ul>
                      </td>
                  </tr>
              </table>
          </td> } </tr>
    }
</table>

<table>
    <tr>
        @controllers.Application.sqliMap.keys.map { k =>
        <td>
            <form method="POST" action="/sqli/?db=@k">
                <div class="button">
                    <button type="submit">@k</button>
                </div>
            </form>
        </td>
}
    </tr>
    </table>