@import helper._
@import com.andreimikhailov.utils._
@import com.andreimikhailov.utils.ICal._
@import controllers._

@(items: List[MyPassItem])(implicit messages: Messages, requestHeader: RequestHeader)


<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
@main("Home") {
<ul>
    @items.map { item =>
      <li>@item.nick
          <ul>
              @item.logins.map { login =>
              <li>
                  <form method="POST" action=@("/selenium/?site=" + item.nick + "&login=" + login)>
                  @CSRF.formField
                  <div class="button">
                      <button type="submit">@login</button>
                  </div>
                  </form>
              </li>
              }
          </ul>
      </li>
    }
</ul>
}