@import helper._
@import com.andreimikhailov.utils._
@import com.andreimikhailov.utils.ICal._
@import controllers._

@(weeks: List[List[MyDay]], markdown: String)(implicit messages: Messages, requestHeader: RequestHeader)

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

@main("Calendar") {
@Html(markdown)
<table>
    @for(i <- 0 to weeks.length - 1) {
      @if((i > 0) && (i < weeks.length - 1) && (weeks(i-1)(6).month != weeks(i)(6).month)) {
        <tr><th colspan="7">@weeks(i+1)(6).month</th></tr>
        <tr>@ICal.namesOfDaysOfWeek.map { x => <td class="weekDayName">@x</td> }</tr>
      }
      <tr>
      @weeks(i).map { day =>
          <td class="calendarCell">
              <table class="dayTable">
                  <tr>
                      <td class="@day.style">
                          <a href="/@day.yyyy_mm_dd">@day.dayTitle</a>
                      </td>
                      <td class="summariesListCell">
                         <ul class="summaries">
                             @day.summaries.map { s =>
                             <li class="summary"> @s </li> }
                         </ul>
                      </td>
                  </tr>
              </table>
          </td> }
      </tr>
    }
</table>

}
