@import helper._
@import com.andreimikhailov.utils._
@import com.andreimikhailov.utils.ICal._
@import controllers._

@(day: MyDay, isSecure: Boolean, webJarsUtil: org.webjars.play.WebJarsUtil)(implicit messages: Messages, requestHeader: RequestHeader)



@rdt(x: Int) = @{jDate(day.yearInt, 1 + day.monthInt, day.dayInt, x/2, 1 + 30*(x % 2))}
@areWithinHalfHour(x: JDate, y: JDate) = @{
  val diffInMillies = x.getTime() - y.getTime() ;
  diffInMillies > 0 && diffInMillies < 30 * 60 * 1000
}
@hhmmstring(x: Int) = @{val h = x/2 ; if (x % 2 == 1) f"$h%d:30" else f"$h%d:00"}
@yyyyMMddThhmmss(x: Int) = @{
  val h = x/2 ;
  val u = if (x % 2 == 1) f"T$h%02d3000" else f"T$h%02d0000" ;
  day.yyyymmdd + u
}

@main(day.yyyy_mm_dd) {

@Html(webJarsUtil.script("jquery.min.js"))

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<div> <span class="timeString">@day.yyyy_mm_dd</span> <span id="registered" class="isRegistered"></span></div>


<script>

var ws = new WebSocket("@routes.HomeController.socket().webSocketURL(secure = isSecure)");
var lastReload = (new Date()).getTime();

ws.onmessage =  function( message ) {
    var msg = JSON.parse(message.data);
    switch(msg.type) {
      case "datetime":
        break;
      case "registered":
        $("#registered").text("■");
        break;
      case "reload":
        window.location.reload();
        break;
    }
};

</script>

<table>
    <tr>
        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        @day.summaries.map { s => <td class="summary"> @s </td> }
    </tr>
</table>


<table>
    @for(hh <- 0 to 47) {
    <tr>
        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td><a href="@routes.HomeController.newEventGET(yyyyMMddThhmmss(hh))">@hhmmstring(hh)</a></td>
        @for(j <- day.events.indices) {
        <td>
            @if(day.events(j).start.before(rdt(hh)) && day.events(j).end.after(rdt(hh))) {┃} else {}
        </td>
        }
        @for(j <- day.events.indices) {
          @if(areWithinHalfHour(rdt(hh), day.events(j).start)) {
            <td>
                <a href="@routes.HomeController.editEventGET(getUID(day.events(j).vev))">@day.events(j).summary</a>
                <a href="@routes.HomeController.delEventGET(getUID(day.events(j).vev))">delete</a>
            </td>
          }
        }
    </tr>
    }
</table>

}