@import helper._
@import com.andreimikhailov.utils._
@import com.andreimikhailov.utils.ICal._
@import controllers._

@(mev: MyEvent)(implicit messages: Messages, requestHeader: RequestHeader)


@main("delete event") {
<table>
    <tr>
        <th>summary</th><td>@mev.summary</td>
    </tr>
    @{mev.location match {
       case Some(x) => { Html(s"""<tr><th>location</th><td> $x </td></tr>""") }
       case None => ""
      }}
    @{mev.description match {
       case Some(x) => {Html(s"""<tr><th>description</th><td> $x </td></tr>""") }
       case None => ""
      }}
    @{mev.timezone match {
       case Some(x) => { Html(s"""<tr><th>timezone</th><td> $x </td></tr>""") }
       case None => ""
      }}
</table>

@helper.form(action = routes.HomeController.delEventPOST()) {
  @CSRF.formField
  <input type="hidden" name="uid" value='@mev.uid' >
  <button type="submit">delete this event</button>
}

}