@import helper._
@import com.andreimikhailov.utils._
@import com.andreimikhailov.utils.ICal._
@import controllers._

@(gglCal: String,
  weeks: List[List[MyDay]],
  markdown: String,
  isSecure: Boolean,
  webJarsUtil: org.webjars.play.WebJarsUtil
)(implicit messages: Messages, requestHeader: RequestHeader)

@main("Home") {
<!-- http://www.webjars.org/documentation -->

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<div> <span id="clock" class="timeString">--- wait ---</span> <span id="registered" class="isRegistered"></span></div>
@Html(webJarsUtil.script("jquery.min.js"))

@Html(markdown)

<iframe src="@gglCal" width="1300" height="600" frameborder="0"></iframe>

<script>
var ws = new WebSocket("@routes.HomeController.socket().webSocketURL(secure = isSecure)");
var lastReload = (new Date()).getTime();

ws.onmessage =  function( message ) {
    var msg = JSON.parse(message.data);
    switch(msg.type) {
      case "datetime":
        $("#clock").text(msg.content);
        break;
      case "registered":
        $("#registered").text("■");
        break;
      case "reload":
        window.location.reload();
        break;
    }
};

window.onfocus = function() {
  var t = (new Date()).getTime();
  if ( t - lastReload > 600000 || (t.getHours() == 0 && t.getMinutes() < 10 && t - lastReload > 60000)  ) {
    window.location.reload();
    }
  }   ;
</script>

<br/>

<a href="/automate">automate</a>

<a href="/tooltips">show</a>

<a href="/calendar">calendar</a>
}
