@import helper._
@import com.andreimikhailov.utils._
@import com.andreimikhailov.utils.ICal._
@import controllers._

@(weeks: List[List[MyDay]],
  sqliMap: Map[String,String],
  markdown: String,
  isSecure: Boolean,
  webJarsUtil: org.webjars.play.WebJarsUtil
)(implicit messages: Messages, requestHeader: RequestHeader)


@main("Home") {
<!-- http://www.webjars.org/documentation -->

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<div> <span id="clock" class="timeString">--- wait ---</span> <span id="registered" class="isRegistered"></span></div>
@Html(webJarsUtil.script("jquery.min.js"))

@Html(markdown)


<script>
var ws = new WebSocket("@routes.HomeController.socket().webSocketURL(secure = isSecure)");
var lastReload = (new Date()).getTime();

ws.onmessage =  function( message ) {
    var msg = JSON.parse(message.data);
    switch(msg.type) {
      case "datetime":
        $("#clock").text(msg.content);
        break;
      case "registered":
        $("#registered").text("■");
        break;
      case "reload":
        window.location.reload();
        break;
    }
};

window.onfocus = function() {
  var t = (new Date()).getTime();
  if ( t - lastReload > 600000 || (t.getHours() == 0 && t.getMinutes() < 10 && t - lastReload > 60000)  ) {
    window.location.reload();
    }
  }   ;
</script>

 <table>
    <tr>
        @ICal.namesOfDaysOfWeek.map { x => <td class="weekDayName">@x</td> }
    </tr>
    @weeks.map { week =>
      <tr> @week.map { day =>
          <td class="calendarCell">
              <table class="dayTable">
                  <tr>
                      <td class="@day.style">
                         <a href="/@day.yyyy_mm_dd">@day.dayTitle</a>
                      </td>
                      <td class="summariesListCell">
                         <ul class="summaries">
                             @day.summaries.map { s =>
                             <li class="summary"> @s </li> }
                         </ul>
                      </td>
                  </tr>
              </table>
          </td> }
      </tr>
    }
</table>

<table>
    <tr>
        @sqliMap.keys.map { k =>
        <td>
            <form method="POST" action="/sqli/?db=@k">
                @CSRF.formField
                <div class="button">
                    <button id="button_@k" type="submit">@k</button>
                </div>
            </form>
        </td>
        }
    </tr>
</table>

<a href="/automate">automate</a>

<a href="/tooltips">show</a>

<a href="/calendar">calendar</a>
}
