@import helper._
@import com.andreimikhailov.utils._
@import com.andreimikhailov.utils.ICal._
@import controllers._

@(title: String,
  weeks: List[List[MyDay]],
  isSecure: Boolean,
  webJarsUtil: org.webjars.play.WebJarsUtil)(implicit messages: Messages, requestHeader: RequestHeader)


@main(title) {

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
@Html(webJarsUtil.script("jquery.min.js"))
<div> <span class="timeString">@title</span> <span id="registered" class="isRegistered"></span></div>

<script>

var ws = new WebSocket("@routes.HomeController.socket().webSocketURL(secure = isSecure)");
var lastReload = (new Date()).getTime();

ws.onmessage =  function( message ) {
    var msg = JSON.parse(message.data);
    switch(msg.type) {
      case "datetime":
        break;
      case "registered":
        $("#registered").text("■");
        break;
      case "reload":
        window.location.reload();
        break;
    }
};

</script>


<table class="calTable">
    <tr>@ICal.namesOfDaysOfWeek.map { x => <td class="weekDayName">@x</td> }</tr>
    @for(i <- weeks.indices) {
      @if( i < 2 || weeks(i-1)(0).month == weeks(i)(0).month) {
        <tr>
            @weeks(i).map { day =>
            <td class="calendarCell">
                <table class="dayTable">
                    <tr>
                        <td class="@day.style">
                            <a href="/@day.yyyy_mm_dd">@day.dayTitle</a>
                        </td>
                        <td class="summariesListCell">
                            <ul class="summaries">
                                @day.summaries.map { s =>
                                <li class="summary"> @s </li> }
                            </ul>
                        </td>
                    </tr>
                </table>
            </td> }
        </tr>
    }}
</table>

}
