@import helper._
@import com.andreimikhailov.utils._
@import controllers._

@(items: List[MyPassItem])(implicit messages: Messages, requestHeader: RequestHeader)


<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
@main("Home") {
<ul>
    @items.map { item =>
      <li>@item.nick
          <ul>
              @item.logins.map { login =>
              <li>
                  <span class="tooltip">@login <span class="tooltiptext">@item.password(login)</span></span>
              </li>
              }
          </ul>
      </li>
    }
</ul>
}