
#MainWindow {
    background-color: #B00;
}

/* Bindings */


/* Commander: */

#CommanderMain {

}
#CommanderTop {
    /*padding: 2px;
    margin: 2px;*/
    border-style: solid;
    border-width: 2px;
    border-color: #0FF;
}

#CommanderTop:focus {
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
}


#CommanderCmdlineBox {

}

@binding-set command-line {
    unbind "<Control>Return" ;
    bind "<Control>Return" { "data-entered" () };
    unbind "Escape" ;
    bind "Escape" { "focus-to-commander" () };
}
#CommandLine {
    -gtk-key-bindings: command-line;
}

@binding-set commander-window {
    unbind "<Control>Return" ;
    bind "<Control>Return" { "data-entered" () };
    unbind "colon" ;
    bind "colon" { "request-for-commandline" () };
}
#CommanderWindow {
    -gtk-key-bindings: commander-window;
}

#CommanderTogglesBox {

}

#CommanderPrimaryKeyLabel {
    background-color: #FFF;
}

#CommanderToggleButton {
    border-width:0px;
    background-color:#0F0;
}

#CommanderToggleButton:active {
    border-width:0px;
    background-color:#00F;
}

#CommanderBottom {
    background-color: #444;
}

#RowsButton {

}

#RowItemButton {
    border-width: 0px;
}

/* Results: */

@binding-set results {
    unbind "Escape" ;
    bind "Escape" { "focus-to-commander" () };
}
#Results {
    padding: 2px;
    margin: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #0FF;
    -gtk-key-bindings: results;
}
#Results:focus {
    border-style: solid;
    border-width: 2px;
    border-color: #F0F;
}

#ResultsTopHBox {
    -gtk-key-bindings: results;
}

#ResultsNumberLabel {
    background-color:Turquoise;
}

#ButtonsVBox {

}

#HighlightedLabel {
    border-width: 2px;
    border-style: solid;
    border-color: #00F;
}

#ItemButton {
    padding: 1px;
}

#ItemLabel0 { background-color: #FFAAAA; font: 12pt Monospace; }
#ItemLabel1 { background-color: #ffccaa; font: 12pt Monospace; }
#ItemLabel2 { background-color: #ffffaa; font: 12pt Monospace; }
#ItemLabel3 { background-color: #aaffaa; font: 12pt Monospace; }
#ItemLabel4 { background-color: #aaccff; font: 12pt Monospace; }
#ItemLabel5 { background-color: #bbaaff; font: 12pt Monospace; }
#ItemLabel6 { background-color: #ddaaff; font: 12pt Monospace; }

#GotoPrevBatchButton {
    background-color: #eeffee;
}

#GotoNextBatchButton {
    background-color: #eeffee;
}

/* Collector: */

#CollectorBoxCollect {

}

#CollectorBoxUpdate {

}

@binding-set collector-textview {
    unbind "<Control>Return" ;
    bind "<Control>Return" { "data-entered" () };
}

#TextViewPrimaryKey {
    font: 16pt Monospace;
    -gtk-key-bindings: collector-textview;
}

#TextViewPrimaryKeyScrollWin {
    border-width: 2px;
    border-style: solid;
}

#TextViewColumn {
    font: 16pt Monospace;
    border-width: 2px;
    border-style: solid;
    border-color: #00F;
    -gtk-key-bindings: collector-textview;
}

#TextViewColumnScrollWin {
    border-width: 2px;
    border-style: solid;
    border-color: #00F;
}


#NoDontDeleteButton {

}

#YesDoDeleteButton {

}

/* Table chooser: */

#TableChooserVBox {

}

/* Alert */

#AlertLabel {
    font: 32pt Monospace;
    background-color: red;
    color: white;
}
